<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/bootstrap-table.css" />
    
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap-table.min.js"></script>
<script src="static/js/bootstrap-table-zh-CN.min.js"></script>

<title>用户列表</title>
</head>
<body>

<div class="container">
  <h2><a href="index" class="btn btn-primary">返回</a></h2>
  <p><a href="http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/">bootstrap-table文档</a></p>
  <p>用户列表</p>
    <div id="toolbar">
        <input type="button" value="新增用户" id="addBtn" data-toggle="modal" data-target="#addUserModal" class="btn btn-primary"></input>
        <input type="button" value="修改用户" id="editBtn" data-toggle="modal" data-target="#editUserModal" class="btn btn-primary" onclick="editUser()"></input>
        <input type="button" value="删除用户" id="deleteBtn" data-toggle="modal" data-target="#deleteUserModal" class="btn btn-primary" onclick="deleteUser()"></input>
    </div>
  <table id="tb_users"></table>
  
  <!-- 新增用户的模态框，在修改用户中将获取一行的值放入input中，改变一些参数继续使用 -->
        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>新增用户</h3>
                    </div>
                    <div class="modal-body">
                        <form id="addUserForm" action="" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-7">
                                    <input type="text" name="name" class="col-sm-4 form-control" id="inputName" placeholder="姓名"/>
                                </div>
                                <label id="errorName" for="inputName" class="col-sm-3 control-label"></label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="conf" class="btn btn-default" onclick="addUser()">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
                    </div>
                </div>              
            </div>
        </div>
        
        <!-- 修改用户的模态框 -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>修改用户</h3>
                    </div>
                    <div class="modal-body">
                        <form id="editForm" method="post" class="form-horizontal">
                            <div class="form-group" style="display:none">
                                <label for="editId" class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-7">
                                    <input type="text" name="id" class="form-control" id="editId" placeholder="ID" />
                                </div>
                                <label id="errorId" for="editId" class="col-sm-3 control-label"></label>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-7">
                                    <input type="text" name="name" class="col-sm-4 form-control" id="editName" placeholder="姓名"/>
                                </div>
                                <label id="errorName" for="inputName" class="col-sm-3 control-label"></label>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="conf" class="btn btn-default" onclick="updateUser()">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
                    </div>
                </div>              
            </div>
        </div>
        
        <div class="modal fade" id="Tip" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>提示</h3>
                    </div>
                    <div class="modal-body" align="center">
                        <h4 id="tipContent">新增成功</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="updateEnd" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>提示</h3>
                    </div>
                    <div class="modal-body" align="center">
                        <h4 id="al">修改成功</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
</div>

</body>
<script type="text/javascript">
    $(function(){
       var oTable = TableInit();
       oTable.Init();
    });
 
    function TableInit() {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function() {
            $('#tb_users').bootstrapTable({
            	cache: false,
                url: "queryUsersByPageJson",
                contentType : "application/x-www-form-urlencoded",
                search: false, //显示搜索框
                pagination: true, //分页
                sidePagination: "server", //服务端处理分页
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 3,//每页的记录行数（*）
                pageList : [1, 2, 3, 10, 20],
                sortName : 'name',
                sortOrder : 'ASC',
                //showRefresh: true,
                toolbar:"#toolbar",//工具栏
                clickToSelect : true,
                responseHandler:function(res) {
                    return {
                        "total":res.total,//总页数
                        "rows": res.data //数据
                    }
                },
                columns: [{
				    checkbox: true,
				    width:'100px',
				    align: 'center',
				    valign: 'middle'
				}, {
				    field: 'id',
				    visible:false
				}, {
				    title: '姓名',
				    titleTooltip : "姓名",
				    field: 'name',
				    align: 'center',
				    valign: 'middle',
				    formatter: function (value, row, index) {
				        return value;
				    }
                }],
                rowStyle : function(row,index) {
                	return {
                		   css: {"white-space": "nowrap"}
                	 };
                },
                queryParamsType:'',
                queryParams:function queryParams(params) {
                    var param = {
                        pageSize: params.pageSize,
                        pageNumber: params.pageNumber-1,
                        sortName : params.sortName,
                        sortOrder :  params.sortOrder
                    };
                    return param;
                }
            });
        };
        return oTableInit;
    };
    
    //新增用户
    function addUser(){
        var param = $("#addUserForm").serializeArray();
        
        $("#conf").attr("onclick","addUser()");
        $.ajax({
            url:"addUser",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    document.getElementById("al").innerText="新增成功";
                    $("#addEnd").modal('show');
                    $("#addUserModal").modal('hide');
                    $("#tb_users").bootstrapTable('refresh');
                }
            },
            error:function(){
                document.getElementById("al").innerText="新增失败";
                $("#addEnd").modal('show');
            }
        });
    }
    //修改用户
    function editUser(){
        //获取选中行的数据
        var rows = $("#tb_users").bootstrapTable('getSelections');
        if(rows.length!=1){
            document.getElementById("tipContent").innerText="请选择一行数据";
            $("#Tip").modal('show');
        }
        else{
	        var row = rows[0];
	        $('#editId').val(row.id);
	        $('#editName').val(row.name);
	        $("#editModal").modal("show");
        }
    }
    
    function updateUser(){
        var param = $("#editForm").serializeArray();
        //设为disable则无法获取
        $.ajax({
            url:"modUser",
            method:"post",
            data:param,
            dataType:"json",
            success:function(data){
                if(data.state=="success"){
                    $("#editModal").modal("hide");
                    document.getElementById("tipContent").innerText="修改成功";
                    $("#Tip").modal('show');
                    $("#tb_users").bootstrapTable('refresh');
                }
            },
            error:function(data){
                alert("wrong");
            }
        });
    }
 
    function deleteUser(){
        var rows = $("#tb_users").bootstrapTable("getSelections");
        
        if(rows.length!=1){
            document.getElementById("tipContent").innerText="请选择一行数据";
            $("#Tip").modal('show');
        } else {
        	var id = rows[0].id
            
            $.ajax({
                url:"delUser",
                dataType:"json",
                traditional: true,//属性在这里设置
                method:"post",
                data:{
                    "id":id
                },
                success:function(data){
                    document.getElementById("tipContent").innerText="删除成功";
                    $("#Tip").modal('show');
                    $("#tb_users").bootstrapTable("refresh");
                },
                error:function(){
                    document.getElementById("tipContent").innerText="删除失败";
                    $("#Tip").modal('show');
                }
            });
        }
        
    }

</script>

</html>