<!DOCTYPE html>
<html>
    <head>
        <#include "/INC_HEAD.HTML">
        
        <style type="text/css">
	        #tabs .tabs-panels>.panel>.panel-body {
	            overflow: hidden;
	        }
        </style>
    </head>
    
    <body class="easyui-layout">
        <div data-options="region:'north',title:'长铗管理系统',split:false,iconCls:'icon-cjgl'" style="height:100px;">
        </div>
        <div data-options="region:'south'" style="height:32px;background:#D2E0F2;">
            <div style="text-align:center;line-height:30px;">QQ：114471855&nbsp;&nbsp;邮箱：114471855@qq.com</div>
        </div>
        <div data-options="region:'west',title:'菜单',split:true,collapsible:true,iconCls:'icon-applicationsidetree'" style="width:260px;">
	        <div id="main_menu" class="easyui-accordion" data-options="fit:true">
		        <div title="系统信息管理" data-options="iconCls:'icon-gear'" style="overflow:auto;padding:0px;">
		            <ul class="easyui-tree">
                        <li data-options="iconCls:'icon-application'">
                            <span><a href="javascript:void(0);" onclick="addTab('项目管理', 'project/projectPage', 'icon-application');">项目管理</a></span>
                        </li> 
				        <li data-options="iconCls:'icon-map'">
				            <span><a href="javascript:void(0);" onclick="addTab('子系统管理', 'subsystem/subSystemPage', 'icon-mapadd');">子系统管理</a></span>
				        </li>
				        <li data-options="iconCls:'icon-role'">
				            <span><a href="javascript:void(0);" onclick="addTab('角色管理', 'role/rolePage', 'icon-role');">角色管理</a></span>
				        </li>
				        <li data-options="iconCls:'icon-user'">
				            <span><a href="javascript:void(0);" onclick="addTab('用户管理', 'user/userPage', 'icon-user');">用户管理</a></span>
				        </li>
				        <li data-options="iconCls:'icon-layout'">
                            <span><a href="javascript:void(0);" onclick="addTab('菜单管理', 'menu/menuPage', 'icon-layout');">菜单管理</a></span>
                        </li>
				    </ul>
		        </div>
		        <div title="功能菜单" data-options="iconCls:'icon-applicationtree'" style="padding:10px;">
		            <p>The accordion</p>
		        </div> 
		    </div>

        </div>
        <div data-options="region:'center'" >
	        <div id="tabs" class="easyui-tabs" fit="true" border="false" >
	            <div title="欢迎使用" data-options="iconCls:'icon-house'" style="padding:20px;overflow:hidden;" id="home">   
	               <h1>欢迎使用</h1>
	            </div>
	        </div>
        </div>
        
    </body>
    
<script type="text/javascript">
$(function(){
	
});

function addTab(subtitle, url, icon) {
    if (!$('#tabs').tabs('exists', subtitle)) {
        $('#tabs').tabs('add', {
            title : subtitle,
            content : createFrame(url),
            closable : true,
            icon : icon
        });
    } else {
        $('#tabs').tabs('select', subtitle);
    }
}

function createFrame(url) {
    var frame = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>';
    return frame;
}
</script>

</html>